<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/css/styleindex.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Expense Tracker</h1>
      <p>Manage your expenses efficiently!</p>

      <div class="button-container">
        <a href="/newexpense" class="button">Add Expense</a>
        <a href="/viewall" class="button">View Expenses</a>
        <a href="update.html" class="button">Update Expense</a>
        <a href="delete.html" class="button">Delete Expense</a>
      </div>
    </div>
  </body>
</html>
