<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Expense!</title>
  </head>
  <body>
    <h1>Submit a new Expense!</h1>
    <form action="/newexpense" method="Post">
      <label for="expense">Expense:</label>
      <input type="text" name="name" id="name" />
    </form>

    <div class="button-container">
      <a href="/" class="button">Home</a>
      <a href="/viewall" class="button">View Expenses</a>
      <a href="update.html" class="button">Update Expense</a>
      <a href="delete.html" class="button">Delete Expense</a>
    </div>
  </body>
</html>
