<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Expense!</title>
  </head>
  <body>
    <div class="button-container">
      <a href="/" class="button">Home</a>
      <a href="/viewall" class="button">View Expenses</a>
    </div>

    <h1>Submit a new Expense!</h1>
    <form action="/newexpense" method="Post">
      <label for="expense">Expense:</label>
      <input type="text" name="expense_name" id="expense" />
      <label for="amount">Amount:</label>
      <input type="number" name="amount" id="amount" />
      <button type="submit">Add Expense</button>
    </form>
  </body>
</html>
