<!-- views/fruits/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= expense.expense_name %></title>
  </head>
  <body>
    <h1>Expense:</h1>
    <h2><%= expense.expense_name %></h2>
    <p>Cost: $<%= expense.amount %></p>
    <div class="button-container">
      <a href="/" class="button">Home</a>
      <a href="/newexpense" class="button">Add Expense</a>
      <a href="update.html" class="button">Update Expense</a>
      <a href="delete.html" class="button">Delete Expense</a>
    </div>
  </body>
</html>
