<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>viewall</title>
  </head>
  <body>
    <h1>View Current Expenses</h1>
    this is where you view all the expenses

    <div class="button-container">
      <a href="/" class="button">Home</a>
      <a href="/newexpense" class="button">Add Expense</a>
      <a href="update.html" class="button">Update Expense</a>
      <a href="delete.html" class="button">Delete Expense</a>
    </div>
  </body>
</html>
