<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>viewall</title>
  </head>
  <body>
    <h1>Current Expenses</h1>
    <ul>
      <% trackers.forEach(tracker => { %>
      <li>
        Item:
        <a href="expense/<%= tracker._id  %>"> <%= tracker.expense_name %></a
        ><br />
        Cost: $<%= tracker.amount %>
      </li>

      <% }) %>
    </ul>

    <div class="button-container">
      <a href="/" class="button">Home</a>
      <a href="/newexpense" class="button">Add Expense</a>
      <a href="update.html" class="button">Update Expense</a>
      <a href="delete.html" class="button">Delete Expense</a>
    </div>
  </body>
</html>
