<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>viewall</title>
  </head>
  <body>
    this is where you view all the expenses
  </body>
</html>
